/* "font-family: 'Josefin Sans', sans-serif;" */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    font-size: 10px;
    font-weight: 100;
}
/* Justin: https://www.w3schools.com/howto/howto_js_sidenav.asp */

#header {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    background-color: #47bf93;
    text-decoration: none;
}


#header_logo{
    width: 20%;
    height: 30%;
}

#header_menu{
    display: none;
}

#header_search{
    display: none;
}

.nav_links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_links ul li {
    margin: 20px;
    margin-left: 20px;
    list-style-type: none;
    font-size: 20px;
}

.nav_links ul li a {
    text-decoration: none;
    color: black;
}

@media(max-width: 500px){
    #header {
        justify-content: center;
        flex-direction: row;
    }

    .nav_links ul {
        display: none;
        
    }
}

#container div p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

